---
dist: xenial
language: python
python: 3.7
services: docker
before_install: scripts/install_scripts.sh
install:
- git clone https://github.com/systemslab/popper /tmp/popper
- export PYTHONUNBUFFERED=1
- pip install /tmp/popper/cli
script: popper run
